:root  {
    --blue-dark-cyber: rgba(8, 3, 48, 0.89);
    --green-dark-cyber: rgba(1, 31, 1, 0.959);
    --white-cinze : rgb(204, 204, 204) ;
    --green-white-cyber: rgba(0, 255, 0, 0.671) ;
    --blue-white: rgba(7, 132, 182, 0.897) ;
    --cyber-pink: rgba(187, 31, 226, 0.911);
    --black-white: rgba(100, 100, 100, 0.7);

    /*este codigo fo escrito por WinKSSan*/




}